<div class="d-flex notification" *ngIf="objNoti.tipo!==''">
  <app-notification [objNotificacion]="objNoti"></app-notification>
</div>
<div class="card-body">
  <div class="row">
    <div class="col-lg-4">
      <div class="row text-center">
        <div class="col-lg-12">
          <strong id="tituloLibro">{{producto!==undefined?producto.nombreLibro:''}}</strong>
        </div>
        <div class="col-lg-12">
          <img [src]="producto!==undefined?producto.URL:''" class="img" alt="item.nombreLibro">
        </div>
      </div>
    </div>
    <div class="col-lg-8 ">
      <div class="row">
        <div class="col-lg-12">
          <strong>Resumen: </strong>
        </div>
        <div class="col-lg-12">
          <span>{{producto.resumen}}</span>
        </div>
        <button type="button" id="buttonAlquilar" class="btn btn-info" (click)="alquiler(producto)">Alquilar</button>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 d-grid">
          <strong>Editorial:</strong><span id="spanEditorial">{{producto.editorial}}</span>
          <strong>Categoria:</strong><span id="spanCategoria">{{producto.categoria}}</span>
          <strong>Fecha publicacion:</strong><span id="spanFechaPublicacion">{{producto.fechaPublicacion}}</span>
        </div>
        <div class="col-lg-6 d-grid">
          <strong>Estado:</strong><span id="spanEstado">{{producto.estado}}</span>
          <strong>Valor x día:</strong><span id="spanValorDia">{{producto.valorDia}}</span>
          <strong>Codigo libro:</strong><span id="spanCodigoLibro">{{producto.id}}</span>
        </div>
      </div>
    </div>
  </div>
</div>