<div *ngFor="let item of totalLibros; let i=index">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="row text-center">
          <div class="col-lg-12">
            <strong>{{item!==undefined?item.nombreLibro:''}}</strong>
          </div>
          <div class="col-lg-12">
            <img [src]="item.URL"  id="{{'data-'+i+'-URL'}}" class="img" alt="item.nombreLibro">
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 d-grid">
                <strong>Editorial:</strong><span id="{{'data-'+i+'-editorial'}}">{{item.editorial}}</span>
                <strong>Categoria:</strong><span id="{{'data-'+i+'-categoria'}}">{{item.categoria}}</span>
                <strong>Fecha publicacion:</strong><span id="{{'data-'+i+'-fechaPubli'}}">{{item.fechaPublicacion}}</span>
              </div>
              <div class="col-lg-6 d-grid">
                <strong>Estado:</strong><span id="{{'data-'+i+'-estado'}}">{{item.estado}}</span>
                <strong>Valor x día:</strong><span id="{{'data-'+i+'-valor'}}">{{item.valorDia}}</span>
                <strong>Codigo libro:</strong><span id="{{'data-'+i+'-codigo'}}">{{item.id}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 d-grid">
                <strong>Fecha Devolucion:</strong><span id="{{'data-'+i+'-fechaDevo'}}">{{item.fechaDevolucion}}</span>
                <strong>Fecha Alquiler:</strong><span id="{{'data-'+i+'-alquiler'}}">{{item.fechaAlquiler}}</span>
              </div>
              <div class="col-lg-6 d-grid">
                <strong>Valor multa:</strong><span id="{{'data-'+i+'-multa'}}">{{item.multa}}</span>
                <strong>Valor a pagar:</strong><span id="{{'data-'+i+'-pagar'}}">{{item.valorTotal}}</span>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-lg-12 text-center mb-3">
              <button type="submit" id="{{'button-'+i+'-devolver'}}" class="btn btn-primary" (click)="devolverLibro(item)">
                <span>Devolver</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>