<div class="container text-center">
  <h3 class="position-relative" style="position: fixed;">Listado de libros</h3>
  <div class="row">
    <div id="table" *ngFor="let item of listaProductos | async; let i=index">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 cursor" id="{{'div-'+i+'-ver'}}" (click)="routerVerProducto(item.id)">
              <div class="row text-center">
                <div class="col-lg-12">
                  <strong id="{{'strong-'+i+'-nombreLibro'}}">{{item.nombreLibro}}</strong>
                </div>
                <div class="col-lg-12">
                  <img id="{{'img-'+i+'-URL'}}" [src]="item.URL" class="img" alt="item.nombreLibro">
                </div>
              </div>
            </div>
            <div class="col-lg-8 ">
              <div class="row">
                <div class="col-lg-12">
                  <strong>Resumen:</strong>
                </div>
                <div class="col-lg-12">
                  <span id="{{'span-'+i+'-resumen'}}">{{item.resumen}}</span>
                </div>
                <strong>Estado:</strong><span id="{{'strong-'+i+'-estado'}}">{{item.estado}}</span>
                <button id="{{'button-'+i+'-Alquilar'}}" type="button" class="btn btn-info" (click)="alquiler(item)">Alquilar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>