<div class="body">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="formLogin" class="form" (ngSubmit)="login(formLogin.valid)">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><em class="fas fa-user"></em></span>
                            </div>
                            <div>
                                <input id="inputUsername" type="text" formControlName="loginUser"
                                    [ngStyle]="loginUserValidate?{'border-color':'red'}:{'border-color':'green'}"
                                    class="form-control" placeholder="username">
                                <small id="inputUsernameError" *ngIf="loginUserValidate" class="texto-alert text-center">{{msjErrorUser}}</small>
                            </div>
                        </div>
                        <div class="input-group form-group d-flex">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><em class="fas fa-key"></em></span>
                            </div>
                            <div>
                                <input id="inputPassword" type="password" class="form-control" placeholder="password"
                                    formControlName="loginPassword"
                                    [ngStyle]="loginPasswordValidate?{'border-color':'red'}:{'border-color':'green'}"
                                    class="form-control">
                                <small id="inputPasswordError" *ngIf="loginPasswordValidate" class="texto-alert text-center">{{msjErrorPass}}</small>
                            </div>
                        </div>
                        <div class="input-group form-group d-flex">
                            <div>
                                <select class="form-control" id="selectType" formControlName="type" >
                                    <option [value]="null" disabled>Selecciona type</option>
                                    <option *ngFor="let item of listType" [ngValue]="item.idName">{{item.name}}</option>
                                 </select>
                                <small id="inputPasswordError" *ngIf="loginTypeValidate" class="texto-alert text-center">{{msjErrortype}}</small>
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <input id="btnLogin" type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>