<div *ngFor="let item of totalLibros; let i=index">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="row text-center">
          <div class="col-lg-12">
            <strong id="{{'libroPrestamo-'+i+'-nombre'}}">{{item!==undefined?item.nombreLibro:''}}</strong>
          </div>
          <div class="col-lg-12">
            <img id="{{'libroPrestamo-'+i+'-URL'}}" [src]="item.URL" class="img" alt="item.nombreLibro">
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <strong>Cedula Persona:</strong><span id="{{'libroPrestamo-'+i+'-cedula'}}">{{item.cedula}}</span>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 d-grid">
                <strong>Editorial:</strong><span id="{{'libroPrestamo-'+i+'-editorial'}}">{{item.editorial}}</span>
                <strong>Categoria:</strong><span id="{{'libroPrestamo-'+i+'-categoria'}}">{{item.categoria}}</span>
                <strong>Fecha publicacion:</strong><span id="{{'libroPrestamo-'+i+'-fechaPublicacion'}}">{{item.fechaPublicacion}}</span>
              </div>
              <div class="col-lg-6 d-grid">
                <strong>Estado:</strong><span id="{{'libroPrestamo-'+i+'-estado'}}">{{item.estado}}</span>
                <strong>Valor x día:</strong><span id="{{'libroPrestamo-'+i+'-valorDia'}}">{{item.valorDia}}</span>
                <strong>Codigo libro:</strong><span id="{{'libroPrestamo-'+i+'-codigoLibro'}}">{{item.id}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 d-grid">
                <strong>Fecha Alquiler:</strong><span id="{{'libroPrestamo-'+i+'-fechaAlquiler'}}">{{item.fechaAlquiler}}</span>
                <strong>Fecha Devolucion:</strong><span id="{{'libroPrestamo-'+i+'-fechaDevolucion'}}">{{item.fechaDevolucion}}</span>
              </div>
              <div class="col-lg-6 d-grid">
                <strong>Valor a pagar:</strong><span id="{{'libroPrestamo-'+i+'-valorTotal'}}">{{item.valorTotal}}</span>
                <strong>Valor multa:</strong><span id="{{'libroPrestamo-'+i+'-multa'}}">{{item.multa}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>